--
-- PostgreSQL database dump
--

\restrict j70cCTxg3EnKbIev8YPlk38Xaw5Q3OfAiQBm2AbJ9s6cxS5ZeldoM999ybPABML

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: grade; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.grade (
    id integer NOT NULL,
    student_id integer NOT NULL,
    date date DEFAULT CURRENT_DATE NOT NULL,
    skill character varying(100) NOT NULL,
    grade double precision NOT NULL
);


ALTER TABLE public.grade OWNER TO postgres;

--
-- Name: grade_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.grade_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.grade_id_seq OWNER TO postgres;

--
-- Name: grade_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.grade_id_seq OWNED BY public.grade.id;


--
-- Name: manager; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.manager (
    id integer NOT NULL,
    email character varying(254) NOT NULL,
    password_hash character varying(60),
    first_name character varying(50) CONSTRAINT manager_firstname_not_null NOT NULL,
    last_name character varying(50) CONSTRAINT manager_lastname_not_null NOT NULL
);


ALTER TABLE public.manager OWNER TO postgres;

--
-- Name: manager_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.manager_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.manager_id_seq OWNER TO postgres;

--
-- Name: manager_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.manager_id_seq OWNED BY public.manager.id;


--
-- Name: student; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student (
    id integer NOT NULL,
    manager_id integer,
    email character varying(254) NOT NULL,
    password_hash character varying(60),
    first_name character varying(50) CONSTRAINT student_firstname_not_null NOT NULL,
    last_name character varying(50) CONSTRAINT student_lastname_not_null NOT NULL,
    date_of_birth date NOT NULL,
    address character varying(150) NOT NULL,
    phone character varying(20) NOT NULL,
    is_deleted boolean DEFAULT false,
    degree character varying(2) NOT NULL,
    CONSTRAINT check_degree_valid CHECK (((degree)::text = ANY ((ARRAY['1J'::character varying, '1L'::character varying, '1D'::character varying, '1C'::character varying, '2J'::character varying, '2L'::character varying, '2D'::character varying, '2C'::character varying, '3J'::character varying, '3L'::character varying, '3D'::character varying, '3C'::character varying, '4J'::character varying, '4L'::character varying, '4D'::character varying, '4C'::character varying, '5J'::character varying, '5L'::character varying, '5D'::character varying, '5C'::character varying])::text[])))
);


ALTER TABLE public.student OWNER TO postgres;

--
-- Name: student_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.student_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.student_id_seq OWNER TO postgres;

--
-- Name: student_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.student_id_seq OWNED BY public.student.id;


--
-- Name: grade id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grade ALTER COLUMN id SET DEFAULT nextval('public.grade_id_seq'::regclass);


--
-- Name: manager id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manager ALTER COLUMN id SET DEFAULT nextval('public.manager_id_seq'::regclass);


--
-- Name: student id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student ALTER COLUMN id SET DEFAULT nextval('public.student_id_seq'::regclass);


--
-- Data for Name: grade; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: manager; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.manager (id, email, password_hash, first_name, last_name) FROM stdin;
1	manager@laplateforme.io	\N	Directeur	Plateforme
\.


--
-- Data for Name: student; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: grade_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.grade_id_seq', 48, true);


--
-- Name: manager_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.manager_id_seq', 1, true);


--
-- Name: student_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.student_id_seq', 20, true);


--
-- Name: grade grade_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grade
    ADD CONSTRAINT grade_pkey PRIMARY KEY (id);


--
-- Name: manager manager_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.manager
    ADD CONSTRAINT manager_pkey PRIMARY KEY (id);


--
-- Name: student student_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_pkey PRIMARY KEY (id);


--
-- Name: grade grade_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grade
    ADD CONSTRAINT grade_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.student(id);


--
-- Name: student student_manager_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_manager_id_fkey FOREIGN KEY (manager_id) REFERENCES public.manager(id);


--
-- PostgreSQL database dump complete
--

\unrestrict j70cCTxg3EnKbIev8YPlk38Xaw5Q3OfAiQBm2AbJ9s6cxS5ZeldoM999ybPABML

